@import url("theme-common.css");

canvas {
    background-color: #345B75; 
}

.stock-header-left {
    -hippo-background-image: url("stock-header-left-solid.svg") 8px 1px 1px 8px;
    padding: 4px 8px 4px;
}

.stock-header-right {
    -hippo-background-image: url("stock-header-right-solid.svg") 8px 8px 1px 1px;
    padding: 4px 8px 4px;
}

.stock-header-right-prelight {
    -hippo-background-image: url("stock-header-right-prelight-solid.svg") 8px 8px 1px 1px;
    padding: 4px 8px 4px;
}

.stock-main {
    -hippo-background-image: url("stock-main.svg") 0px 8px 0px;
    padding: 4px 8px 4px;
}

.stock-bottom {
    -hippo-background-image: url("stock-bottom-solid.svg") 1px 8px 8px;
    padding: 6px 10px 5px;
}

.stock-hidden {
    -hippo-background-image: url("stock-hidden-solid.svg") 8px 8px 8px 0px;
    padding: 8px 4px 8px;
}

.slideout-header {
    -hippo-background-image: url("header-solid.svg") 8px 8px 1px 8px;
    padding: 4px;
}

.slideout-main {
    -hippo-background-image: url("slideout-main-solid.svg") 0px 2px 2px;
    padding: 4px;
}

.slideout-no-header {
    -hippo-background-image: url("slideout-no-header-solid.svg") 2px;
    padding: 4px;
}
