* {
    color: #dddddd;
}

:link, :visited {
    color: #ffffcc;
}

.subforeground {
   color: #95a9b6;
}

.stock-header-left * {
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

.stock-grippy {
    -hippo-background-image: url("grippy.png");
}

.stock-hidden * {
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

.prelighted-box {
    background-color: #59809c;
}
