canvas {
    background-color: white;
    opacity: 0.85;
}

* {
    color: #000000;
}

:link, :visited {
    color: #0066dd;
}

.subforeground {
    color: #666666;
}

.header {
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.slideout-root {
    border-color: white;
    border-width: 1px;
}

.prelighted-box {
    background-color: #e2e2e2;
}
